{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservas Hoteleras</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <div class="margin">
      <nav class="nav">
        <div class="nav-logo">Hotel Pacific Reef</div>
        <div class="nav-links">
          <a href="#habitaciones">Habitaciones</a>
          <a href="{% url 'login' %}">Iniciar sesión</a>
          <button id="langToggle">EN/ES</button>
        </div>
      </nav>
      <section class="reservation" style="margin-top: 100px;">
        <div class="login-container">
          <h1>Iniciar Sesión</h1>
          <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Login</button>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
