{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservas Hoteleras - Mis Reservas</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <div class="margin">
      <nav class="nav">
        <div class="nav-logo">Hotel Pacific Reef</div>
        <div class="nav-links">
          <a href="{% url 'habitaciones' %}">Habitaciones</a>
          <a href="{% url 'login' %}">Iniciar sesión</a>
          <a href="{% url 'mis_reservas' %}">Mis reservas</a>
          <button id="langToggle">EN/ES</button>
        </div>
      </nav>
      <div class="container-rooms">
        <h2 class="page-title">Mis reservas</h2>
        <div class="room-list">
          {% if not reservas %}
          <p>No tienes reservas aún</p>
          {% endif %}
          {% for reserva in reservas %}
          <div class="room-card">
            <p>
              <strong>Hotel:</strong> {{ reserva.id_habitacion_habitacion.id_hotel_hotel.nombre }}
            </p>
            <p>
              <strong>Habitación:</strong> {{ reserva.id_habitacion_habitacion.categoria }}
            </p>
            <p><strong>Fecha de llegada:</strong> {{ reserva.fecha_inicio }}</p>
            <p><strong>Fecha de salida:</strong> {{ reserva.fecha_fin }}</p>
            <p><strong>Estado:</strong> {{ reserva.estado }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
